.tab {
  transition: 0.3s ease-in;
  font-size: 16px;
  padding: 10px;
  &:hover:not([data-active]) {
    color: var(--mantine-color-purple-3);
    background-color: transparent;
  }
  &[data-active] {
    color: var(--mantine-color-purple-4);
    font-weight: bold;
  }
}